body {
    background-color: #000;
    color: #00FF41; /* Verde fosforescente */
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    overflow-y: hidden;
}

#terminal {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    border: 2px solid #00FF41;
    box-shadow: 0 0 15px #00FF41;
}

#output {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    white-space: pre-wrap; /* Mantém a formatação do texto */
}

#output::-webkit-scrollbar {
    width: 8px;
}

#output::-webkit-scrollbar-track {
    background: #000;
}

#output::-webkit-scrollbar-thumb {
    background-color: #00FF41;
    border-radius: 4px;
}

#input-line {
    display: flex;
    padding: 10px;
    border-top: 1px solid #00FF41;
}

#prompt {
    margin-right: 10px;
}

#input {
    background-color: transparent;
    border: none;
    color: #00FF41;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

#input:focus {
    outline: none;
}

.comando-usuario {
    color: #FFFF00; /* Amarelo para comandos do usuário */
}

.imagem-container {
    max-width: 80%;
    margin: 15px 0;
    border: 1px solid #00FF41;
}

.audio-container {
    margin: 15px 0;
}
